*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu{
    background-color: #009b3a;
    color: #ffffff;
    padding: 20px;
    position: sticky;
    top: 0;
}
#menu > ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none
}
#menu > ul > li > a{
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.container {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
}

.formulario {
    height: 80vh;
}

form {
    width: 30%;
    padding: 20px 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    background-color: #4681f4;
    color: white;
}

label {
    padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    resize: none;
    width: 100%;
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

button[type="Submit"] {
    padding: 10px;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #33b249;
    color: white;
    font-weight: bolder;
    font-size: large;
}
