*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:#ccd7f2;
    color: #002277;
}

#menu{
    background-color: #009b3a;
    color: #ffffff;
    padding: 10px;
    position: sticky;
    top: 0;
    text-align: center;
    box-shadow: 1px 1px 5px 0px #00000030;
}
#svg-logo-container{
    display: inline-block; 
    height: 2rem; 
    overflow: hidden;
    margin-bottom: 0.5rem;
}
#menu > ul{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none
}
#menu > ul > li{
    width: 15%;
    display: grid;
    text-align: center;
    place-items: center;
}
#menu > ul > li > a{
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    transition: 0.25s;
}
#menu > ul > li > a:hover{
    font-size: larger;
    text-decoration: underline;
}


.container {
    margin: 1rem 0 5rem 0;
    width: 100%;
    text-align: center;
}

.formulario {height: 80vh;}

form {
    width: 90%;
    max-width: 500px;
    padding: 20px 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background-color: #4681f4;
    color: white;
    box-shadow: 1px 1px 5px 0px #00000030;
}

label {
    padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    resize: none;
    width: 100%;
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}
input:focus, textarea:focus{
    outline: 1px solid #fedf00;
}

button[type="Submit"] {
    padding: 10px;
    width: 50%;
    border: 0px solid;
    border-radius: 10px;
    background-color: #33b249;
    color: white;
    font-weight: bolder;
    font-size: large;
    box-shadow: 1px 1px 5px 0px #00000030;
    cursor: pointer;
}