*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:#ccd7f2;
    color: #002277;
}

#menu{
    background-color: #009b3a;
    color: #ffffff;
    padding: 10px;
    position: sticky;
    top: 0;
    text-align: center;
    box-shadow: 1px 1px 5px 0px #00000030;
}
#svg-logo-container{
    display: inline-block; 
    height: 2rem; 
    overflow: hidden;
    margin-bottom: 0.5rem;
}
#menu > ul{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none
}
#menu > ul > li{
    width: 15%;
    display: grid;
    text-align: center;
    place-items: center;
}
#menu > ul > li > a{
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    transition: 0.25s;
}
#menu > ul > li > a:hover{
    font-size: larger;
    text-decoration: underline;
}



#container-principal{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lista-celulares{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-celular{
    width: 200px;
    color: #002277;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px 0px hsla(0, 0%, 0%, 0.188);
}

.card-celular > img{
    width: 90%;
    border-radius: 1rem;
}

.card-celular > p{
    margin-top: 1rem;
}
.card-celular > p :last-child{
    font-size: larger;
    font-weight: bold;
    color:  #ffbf00;

}

.card-celular > span{
    text-decoration: line-through;
    color: #bbbbbb;
}

.card-celular > a{
    width: 80%;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    background-color: #009b3a;
    color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: 0.25s;
}

.card-celular > a:hover{
    background-color:  #fedf00;
    color: #009b3a;
    padding: 0.75rem;
}

footer {
    text-align: center;
    background-color: #009b3a;
    color: white;
    font-size: large;
    padding: 10px;
}

footer .social {
    width: 250px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer svg {
    display: inline-block;
    height: 2.5rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    fill: #D6D2CA;
    text-decoration: none;
}

footer .dev {
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}
