*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:#ccd7f2;
    color: #002277;
}

#menu{
    background-color: #009b3a;
    color: #ffffff;
    padding: 10px;
    position: sticky;
    top: 0;
    text-align: center;
    box-shadow: 1px 1px 5px 0px #00000030;
}
#svg-logo-container{
    display: inline-block; 
    height: 2rem; 
    overflow: hidden;
    margin-bottom: 0.5rem;
}
#menu > ul{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none
}
#menu > ul > li{
    width: 15%;
    display: grid;
    text-align: center;
    place-items: center;
}
#menu > ul > li > a{
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    transition: 0.25s;
}
#menu > ul > li > a:hover{
    font-size: larger;
    text-decoration: underline;
}


#container-nome{
    text-align: center;
}
#container-principal{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
#container-imagem{
    width: 20%;
    border-radius: 1rem;
}
#container-imagem > img{
    width: 100%;
    border-radius: 1rem;
}

#container-informacoes{
    font-size: larger;
}
#container-informacoes > ul > li{
    margin: 0.5rem 0;
}


button{
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 0.25rem;
    border: 0px solid;
    border-radius: 1rem;
    background-color: #009b3a;
    color: #ffffff;
    transition: 0.5s;
    box-shadow: 1px 1px 5px 0px #00000030;
}
button:hover{
    padding: 1rem 0.5rem;
    box-shadow: 3px 3px 5px 2px #00000030;
    color: #009b3a;
    background-color: #fedf00;
}